body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

/*ESTILOS IMAGENES EJEMPLO*/
.caja_contenido {
  margin: 0px 20px;
  border: 2px solid red;
  width: auto;
  height: 800px;
  padding: 10px;
}

.caja_contenido div {
  border: 2px solid black;
  width: 48%;
  height: 50%;
  display: inline-block;
  color: white;
}

.imagen_1 {
  float: left;
  border-color: blue;
}

.imagen_2 {
  float: right;
  border-color: blue;
}

@media only screen and (max-width: 1024px) {
  .imagen_1 {
    border-color: yellow;
  }
}

@media only screen and (max-width: 1024px) {
  .imagen_2 {
    border-color: yellow;
  }
}
